<h2> {{pageTitle}} </h2>

<div>
  <form novalidate (ngSubmit)="saveTransaction()" [formGroup]="transactionForm">
    <fieldset>
      <div>
        <label for="amount">Amount </label>
        <input type="number" name="amount" placeholder="Amount (required)" formControlName="amount" />
      </div>

      <div>
        <label for="date">Date </label>
        <input type="date" name="date" formControlName="date" />
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label for="merchant">Merchant </label>
        <input type="text" name="merchant" formControlName="merchant" />
      </div>

      <div>
        <label for="bankMerchantDescription">Statement Description</label>
        <input type="text" name="text" formControlName="bankMerchantDescription" />
      </div>
    </fieldset>

    <fieldset *ngIf="displayPaidBy">
      <label for="paymentOption">Paid by: </label>
      <select formControlName="paymentOption">
        <option *ngFor="let paymentOption of paymentOptions" [ngValue]="paymentOption">{{ paymentOption.description }}
        </option>
      </select>
      
      <ng-container *ngIf="displayBreakdown">
        <div formArrayName="transactionSplit"
          *ngFor="let transactionSplit of transactionForm.get('transactionSplit').controls; let i = index;">
          <div [formGroupName]="i">
            <div>
              <label for="amount">{{transactionForm.controls.transactionSplit.controls[i].controls.name.value}}</label>
              <input type="number" formControlName="amount" />
            </div>
            <input formControlName="userId" hidden>
          </div>
        </div>
      </ng-container>
    </fieldset>
    <fieldset>
      <div>
        <span>
          <button type="submit" [disabled]="!transactionForm.valid || !transactionForm.dirty">
            Save
          </button>
        </span>
        <span>
          <button type="button" (click)="cancelEdit()">
            Cancel
          </button>
        </span>
      </div>
    </fieldset>
  </form>
</div>